:root {
  --main-color: #bbbbbb;
  --secondary-color: rgb(240, 240, 240);

  --border-color: #abaaaa;

  --main-text: #000;
  --secondary-text: #4b5156;

  --theme-border: #24292e;
  --preview-bg: rgb(251, 249, 243, 0.8);
  --preview-shadow: #d8d1ba;

  --nav-active: #17a2b8;
  --btn-color: #b6ac8c;
  --btn-delete: rgb(167, 33, 33);
  --btn-hover: #aca286;

  --highlight: #17a2b8;
}

.admin-login {
  margin-top: 7vw;
}

.product-cell {
  height: 35vw;
  overflow-y: auto;
}

.loader {
  color: var(--highlight);
  display: none;
}

.trash {
  color: red;
}

.link {
  color: var(--btn-color);
}

.details:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-add {
  color: white;
  font-weight: bold;
  background-color: rgb(54, 187, 54);
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
}

.btn-add:hover {
  background-color: rgb(49, 170, 49);
  cursor: pointer;
}

.form-grid {
  display: grid;   
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}

.addModal {
  padding: 20px;
}

.alerts {
  width: 100%;
}

.delete-btn {
  color: white;
}

.edit-btn {
  color: #fff;
  border: none;
  background-color: var(--highlight);
  padding: 3.5%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.edit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}